In [ ]:
def greet(name):
  print(f"hello, {name} how are you?")
greet("sonia")

hello, sonia how are you?

In [ ]:
def addition(num1, num2):
    sum = num1 + num2
    print(f"The sum of num1 and num2 is:{sum}")
addition(1, 5)
addition(0.5, 9)

The sum of num1 and num2 is:6
The sum of num1 and num2 is:9.5

In [ ]:
def petname(name, type):
  print(f"my pet name is {name} and its {type}")
petname("max", "dog")
petname(name = "sheero", type = "labradaor")

my pet name is max and its dog
my pet name is sheero and its labradaor

In [ ]:
def pet_describe_default(pet_name, animal_type = 'dog'):
  print(f"I have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name}.")
pet_describe_default('willie')

I have a dog.
My dog's name is willie.

**RETURN statement**

In [ ]:
def calculate_square(number):
  return number * number
result1 = calculate_square(7)
print(f"The square of 7 is: {result1}")
result2 = calculate_square(12)
print(f"The square of 12 is: {result2}")

The square of 7 is: 49
The square of 12 is: 144

In [ ]:
numbers_to_square = [2, 5, 8, 11, 15.2]

for number in numbers_to_square:
  squared_value = calculate_square(number)
  print(f"The square of {number} is: {squared_value}")

The square of 2 is: 4
The square of 5 is: 25
The square of 8 is: 64
The square of 11 is: 121
The square of 15.2 is: 231.04

In [ ]:
def calculate_addition(num):
  """This function adds 5 to a given number."""
  return num + 5

number_to_add = [1,2,3,4,5,6]
for num in number_to_add:
  added_value = calculate_addition(num)
  print(f"The sum of {num} and 5 is: {added_value}")

The sum of 1 and 5 is: 6
The sum of 2 and 5 is: 7
The sum of 3 and 5 is: 8
The sum of 4 and 5 is: 9
The sum of 5 and 5 is: 10
The sum of 6 and 5 is: 11

In [ ]:
def sum_list(numbers):
  """This function takes a list of numbers and returns their sum."""
  total = 0
  for number in numbers:
    total += number
  return total

my_numbers = [1, 2, 3, 4, 5, 6]
list_sum = sum_list(my_numbers)
print(f"The sum of the numbers in the list is: {list_sum}")

The sum of the numbers in the list is: 21

In [ ]:
def multiply(numbers):
  total = 1
  for num in numbers:
   total *= num
  return total

value = [1,2,3,4]
my_numbers = multiply(value)
print(f"multiplication of given list is: {my_numbers}")

multiplication of given list is: 24

In [ ]:
def find_largest_number(my_list):
  largest_so_far = my_list[0]
  for num in my_list:
   if num > largest_so_far:
    largest_so_far = num
  return largest_so_far

my_list = [10,2,4,17,89,93,101]
my_number = find_largest_number(my_list)
print(f"{my_number} is largest in the list")

101 is largest in the list

In [ ]:
def find_smallest_number(my_list):
  if not my_list:
    return None # Return None if the list is empty

  smallest_now = my_list[0]
  for num in my_list:
    if num < smallest_now:
      smallest_now = num
  return smallest_now

my_list = [42,17,93,4,11,101,8,29]
my_number = find_smallest_number(my_list)
print(f"the smallest of list is {my_number}")

# Now, let's test it with an empty list
empty_list = []
smallest_from_empty = find_smallest_number(empty_list)
print(f"The smallest of the empty list is: {smallest_from_empty}")

the smallest of list is 4
The smallest of the empty list is: None

In [ ]:
def find_smallest_with_while(my_list):
  """
  This function finds the smallest number in a list using a while loop.
  """
  if not my_list:
    return None

  smallest_now = my_list[0]
  index = 1 # Start checking from the second element

  while index < len(my_list):
    if my_list[index] < smallest_now:
      smallest_now = my_list[index]
    index += 1 # Don't forget to increment the index!

  return smallest_now

# Test the function
my_list = [42, 17, 93, 4, 11, 101, 8, 29]
smallest_number = find_smallest_with_while(my_list)
print(f"The smallest number found with a while loop is: {smallest_number}")

In [ ]:
def largest_number(my_list):
  if not my_list:
   return None

  largest_so_far = my_list[0]
  index = 1

  while index < len(my_list):
   if my_list[index] > largest_so_far:
    largest_so_far = my_list[index]
  index += 1
  return largest_so_far

my_list = [10, 2, 89, 93, 4, 17, 101]
my_number = largest_number(my_list)
print(f"the largest number among given list is {my_number}")

In [ ]:
def sum_of_list(my_list):
    if not my_list:
      return None
    total = 0
    index = 0
    while index < len(my_list):
      total += my_list[index]
      index += 1
    return total

my_list = [10, 2, 89, 93, 4, 17, 101]
my_number = sum_of_list(my_list)
print(f"the sum of the given list is: {my_number}")

the sum of the given list is: 316

In [ ]:
def count_even_numbers(my_list):
  if not my_list:
    return 0
  index = 0
  count = 0
  while index < len(my_list):
    if my_list[index]%2 == 0:
      count += 1
    index += 1
  return count

my_list = [1,2,3,4,5,6,7,8,9,10]
list_even = count_even_numbers(my_list)
print(f"the count of even numbers in the list is: {list_even}")

the count of even numbers in the list is: 5

In [ ]:
def reverse_list(my_list):
    reversed_list = []

    index = len(my_list) - 1
    while index >= 0:
      reversed_list.append(my_list[index])
      index -= 1
    return reversed_list

my_list = [1,2,3,4,5,6]
reversed_lists = reverse_list(my_list)
print(f" the reveresed list is: {reversed_lists}")

 the reveresed list is: [6, 5, 4, 3, 2, 1]

In [ ]:
def common_numbers(list_1, list_2):
  common_list = []
  i = 0
  while i < len(list_1):
    j = 0
    while j < len(list_2):
       if list_1[i] == list_2[j]:
         common_list.append(list_1[i])
         break
       j += 1
    i += 1
  return common_list

list_1 = [1,2,3,4,5,6]
list_2 = [3,4,5,6,7,8]
numbers = common_numbers(list_1, list_2)
print(f"common numbers in list are: {numbers}")

common numbers in list are: [3, 4, 5, 6]

In [ ]:
# Test Case 1: Lists with no common numbers
list_3 = [10, 20, 30]
list_4 = [11, 22, 33]
no_common = common_numbers(list_3, list_4)
print(f"Common numbers in list_3 and list_4 are: {no_common}")

# Test Case 2: Lists of different lengths with some common numbers
list_5 = [1, 5, 9, 12, 15, 20]
list_6 = [5, 10, 15, 25]
some_common = common_numbers(list_5, list_6)
print(f"Common numbers in list_5 and list_6 are: {some_common}")

Common numbers in list_3 and list_4 are: []
Common numbers in list_5 and list_6 are: [5, 15]

In [ ]:
def uncommon_numbers(list_1, list_2):
  common_list = []
  uncommon_list = []
  i = list_1[0]
  is_common = False

  for num1 in list_1:
    j = list_2[0]
   for num2 in list_2:
    if


list_1 = [1, 5, 9, 12, 15, 20]
list_2 = [5, 10, 15, 25]
un_common = uncommon_numbers(list_1, list_2)
print(f"Uncommon numbers in above lists are: {un_common}")

Uncommon numbers in above lists are: [5, 10, 15, 25]

In [ ]:
def find_uncommon_with_for(list_1, list_2):
    """
    This function finds the numbers that are not common between two lists,
    using for loops.
    """
    uncommon_list = []

    # Part 1: Find numbers in list_1 that are NOT in list_2
    for num1 in list_1:
        is_found = False  # Assume the number is not in list_2
        for num2 in list_2:
            if num1 == num2:
                is_found = True  # We found a match, so set the flag to True
                break  # No need to search anymore in list_2, so we break

        # After checking all of list_2, check the flag.
        # If is_found is still False, it means no match was ever found.
        if not is_found:
            uncommon_list.append(num1)

    # Part 2: Find numbers in list_2 that are NOT in list_1
    for num2 in list_2:
        is_found = False # Reset the flag for each new number from list_2
        for num1 in list_1:
            if num2 == num1:
                is_found = True
                break

        if not is_found:
            uncommon_list.append(num2)

    return uncommon_list

# Let's test it
list_a = [1, 5, 9, 12, 15, 20]
list_b = [5, 10, 15, 25]
uncommon_result = find_uncommon_with_for(list_a, list_b)
print(f"The uncommon numbers are: {uncommon_result}")

The uncommon numbers are: [1, 9, 12, 20, 10, 25]

In [ ]:
def check_uncomm_numbers_using_while(list_a, list_b):
  uncommon_list = []
  i = 0
  while i < len(list_a):
    match_found = False
    j = 0
    while j < len(list_b):
      if list_a[i] == list_b[j]:
        match_found = True
        break
      j += 1

    if match_found == False:
      uncommon_list.append(list_a[i])
    i += 1

  j = 0
  while j < len(list_b):
    match_found = False
    i = 0
    while i < len(list_a):
      if list_b[j] == list_a[i]:
        match_found = True
        break
      i += 1

    if match_found == False:
      uncommon_list.append(list_b[j])
    j += 1

  return uncommon_list

list_a = [1, 5, 9, 12, 30, 20]
list_b = [5, 10, 15, 25]
uncommon_result = check_uncomm_numbers_using_while(list_a, list_b)
print(f"The uncommon numbers are: {uncommon_result}")

The uncommon numbers are: [1, 9, 12, 30, 20, 10, 15, 25]

In [ ]:
def print_numbers_above10(list_a):
  greater_list = []
  i = 0
  while i < len(list_a):
    if list_a[i] > 10:
      greater_list.append(list_a[i])

    i += 1
  return greater_list

list_a = [1, 5, 9, 12, 15, 20]
greater_than_10 = print_numbers_above10(list_a)
print(f" the valeues are: {greater_than_10}")

 the valeues are: [12, 15, 20]

**Local and global variables**

In [ ]:
global_variable = "Iam global"

def local_variable():
  name = "local variable"
  print(name)


local_variable()
print(global_variable)

local variable
Iam global

In [ ]:
def count_long_strings(list, number):
  count = 0
  for s in list:
    if len(s) > number:
      count += 1
  return count

list = ['apple', 'banana', 'cat', 'elephant']
number = 3
my_count = count_long_strings(list, number)
print(f"the count of strings that has characters more than 5 are: {my_count}")

the count of strings that has characters more than 5 are: 3

In [ ]:
# Regular function
def multiply(x, y):
    return x * y
# Equivalent lambda function
multiply_lambda = lambda x, y: x * y

print(multiply(4, 5))
print(multiply_lambda(4, 5))

# Using lambda with sorted()
points = [(1, 2), (0, 5), (3, 1)]
# Sort by the second element of each tuple
sorted_points = sorted(points, key=lambda point: point[1])
print(sorted_points) # Output: [(3, 1), (1, 2), (0, 5)]

20
20
[(3, 1), (1, 2), (0, 5)]

In [ ]:
def calculate_area(length, width):
  area = length * width
  return area

length = 4
width = 5
final_result = calculate_area(length, width)
print(f"area of element: {final_result}")

area of element: 20

In [ ]:
def check_even_odd(number = 0):
  if number == 0:
    return "even (default)"

  if number%2 == 0:
    return "even"
  else:
    return "odd"

result = check_even_odd(13)
print(f"the result is {result}")

the result is odd

In [ ]:
number_lambda = lambda x: x > 10
print(f"is 12 greater than 10? {number_lambda(12)}")
print(f"is 10 greater than 10? {number_lambda(10)}")

is 12 greater than 10? True
is 10 greater than 10? False

In [ ]:
# Define the lambda function
is_greater_than_10 = lambda x: x > 10

# --- Test Cases ---

# Test with a number greater than 10
print(f"Is 15 greater than 10? {is_greater_than_10(15)}")

# Test with a number less than 10
print(f"Is 5 greater than 10? {is_greater_than_10(5)}")

# Test with the number 10
print(f"Is 10 greater than 10? {is_greater_than_10(10)}")

Is 15 greater than 10? True
Is 5 greater than 10? False
Is 10 greater than 10? False

In [ ]:
def find_first_long_string(list):
  # Loop through each string in the list
  for s in list:
    # If we find a string longer than 5, return it immediately
    if len(s) > 5:
      return s

  # This line will only be reached if the loop finishes
  # without ever finding a long string.
  return "No long string found"


list = ['a', 'cat', 'banana', 'elephant']
result = find_first_long_string(list)
print(f"the long string is {result}")

# Test with another list where no long string exists
list2 = ['a', 'b', 'c']
result2 = find_first_long_string(list2)
print(f"the long string is {result2}")

the long string is banana
the long string is No long string found

In [ ]:
def find_last_short_string(string_list, max_length):
  # 1. Initialize a variable to hold our result.
  # Start with the "not found" message.
  last_shorty = "No short string found"

  # 2. Loop through the entire list.
  for s in string_list:
    # 3. If we find a string that meets the condition...
    if len(s) <= max_length:
      # ...update our variable with this new "last seen" short string.
      last_shorty = s

  # 4. AFTER the loop is completely finished, return the variable.
  # It will either hold the last short string found, or the original message.
  return last_shorty


# --- Test Cases ---
my_list1 = ['apple', 'banana', 'cat', 'dog', 'elephant']
max_len1 = 4
result1 = find_last_short_string(my_list1, max_len1)
print(f"In {my_list1}, the last short string is: {result1}") # Expected: dog

my_list2 = ['spaghetti', 'lasagna', 'ravioli']
max_len2 = 5
result2 = find_last_short_string(my_list2, max_len2)
print(f"In {my_list2}, the last short string is: {result2}") # Expected: No short string found

In ['apple', 'banana', 'cat', 'dog', 'elephant'], the last short string is: dog
In ['spaghetti', 'lasagna', 'ravioli'], the last short string is: No short string found

In [ ]:
# --- SCENARIO 1: Initialize BEFORE the loop (Accumulating a Value) ---

print("--- SCENARIO 1: Summing a list ---")
numbers_to_sum = [10, 20, 30]

# We initialize 'total' to 0 BEFORE the loop starts.
total = 0
print(f"Before loop, total is: {total}")

for num in numbers_to_sum:
  total = total + num
  print(f"  Inside loop, after adding {num}, total is now: {total}")

print(f"After loop, the final total is: {total}\n")


# --- SCENARIO 2: Initialize INSIDE the loop (Resetting a Value) ---

print("--- SCENARIO 2: Checking for even numbers ---")
numbers_to_check = [3, 4, 5]

for num in numbers_to_check:
  # We initialize 'is_even' to False INSIDE the loop.
  # This ensures we get a fresh start for every number.
  is_even = False
  print(f"  For number {num}, 'is_even' starts as: {is_even}")

  if num % 2 == 0:
    is_even = True # We only change it if the condition is met

  print(f"  After checking {num}, 'is_even' is: {is_even}")

--- SCENARIO 1: Summing a list ---
Before loop, total is: 0
  Inside loop, after adding 10, total is now: 10
  Inside loop, after adding 20, total is now: 30
  Inside loop, after adding 30, total is now: 60
After loop, the final total is: 60

--- SCENARIO 2: Checking for even numbers ---
  For number 3, 'is_even' starts as: False
  After checking 3, 'is_even' is: False
  For number 4, 'is_even' starts as: False
  After checking 4, 'is_even' is: True
  For number 5, 'is_even' starts as: False
  After checking 5, 'is_even' is: False

In [ ]:
def find_first_even_number(list):
  for n in list:
    even = False
    if n%2 == 0:
      even = True
      return n


list = [3, 4, 5, 6, 7, 8, 9, 10]
result = find_first_even_number(list)
print(f"The first even number in the list is {result}")

The first even number in the list is 4

In [ ]:
def find_last_even_number(my_list):
  last_even = None  # Start with a default value
  for n in my_list:
    if n % 2 == 0:
      last_even = n # We found an even number, so we remember it
  return last_even

my_list = [3, 4, 5, 6, 7, 8, 9, 10, 11]
result = find_last_even_number(my_list)
print(f"The first even number in the list is {result}")

The first even number in the list is 10